* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #12182b;
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
}

nav {
    max-width: 1700px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.nav-logo {
    width: 100%;
    max-width: 100px;
    display: flex;
}

.nav-links {
   list-style: none;
   display: flex;
   align-items: center;
   gap: 2rem;
}

.link a {
    position: relative;
    padding-bottom: 1rem;
}

.link a::after {
    content: "";
}