* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #12182b;
    color: #fff;
}

/* SECTION 1: Navbar */

a {
    text-decoration: none;
    color: #fff;
}

nav {
    max-width: 100%;
    margin: auto;
    padding: 2rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    gap: 2rem;
}

.nav-logo a {
    width: 100%;
    max-width: 200px;
    display: inline-block;
    font-weight: bold;
    transition: transform 0.3s ease;
}

.nav-logo a:hover {
    transform: scale(1.05);
}

.nav-links {
   list-style: none;
   display: flex;
   align-items: center;
   gap: 2rem;
}

.link a {
    position: relative;
    padding-bottom: 0.5rem;
}

.link a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #a788f7;
    transition: all 0.3s ease;
}

.link a:hover::after {
    width: 75%;
}

/* SECTION 2: Header */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 2rem;
}

header .content h1 {
    padding-bottom: 5rem;
}

header .content h3 {
    padding-bottom: 0.5rem;
}

header .content h1 span {
    color: transparent;
    -webkit-text-stroke: 1px #a788f7;
}

header .content h3 span {
    color: #a788f7;
}

/* Button */

header .content .btn {
    padding-top: 2rem;
}

header .content .btn button {
    padding: 10px;
    color: #fff;
    background-color: #a788f7;
    border-radius: 5px;
    transition: all 0.3s ease;
}

header .content button:hover {
    cursor: pointer;
    background-color: #9772f5;
    transform: scale(1.05);
}

/* SECTION 3: Skills */

.skills-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem; 
    padding: 2rem 5rem;
}

.skills-container img {
    max-width: 100px;
    transition: transform 0.3s ease;
}

.skills-container img:hover {
    transform: scale(1.2);
}

/* Footer */

footer p{
    display: flex;
    justify-content: center;
    padding: 5rem;
}