* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    /* Enables smooth scroll to a section */
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #12182b;
    color: #fff;
    /* Disables highlighting of text */
    user-select: none;
}

/* Hide Scrollbar in Chrome, Edge, and Safari */
body::-webkit-scrollbar {
    display: none;
}

/* SECTION 1: Navbar */

a {
    text-decoration: none;
    color: #fff;
}

nav {
    max-width: 100%;
    margin: auto;
    padding: 2rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    gap: 2rem;
}

.nav-logo a {
    width: 100%;
    max-width: 200px;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: bold;
    transition: transform 0.3s ease;
}

.nav-logo a:hover {
    transform: scale(1.05);
}

.nav-links {
   list-style: none;
   display: flex;
   align-items: center;
   gap: 2rem;
}

.link a {
    position: relative;
    padding-bottom: 0.5rem;
}

.link a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #a788f7;
    transition: all 0.3s ease;
}

.link a:hover::after {
    width: 75%;
}

/* SECTION 2: Header */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0rem 2rem;
}

header .background {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    padding-bottom: 3rem;
    column-gap: 2rem;
}

header .background img {
    display: flex;
    max-width: 300px;
    transition: transform 0.3s ease;
}

header .background img:hover {
    transform: translateY(-0.5rem);
}

header .content h1 {
    padding-bottom: 2rem;
    font-size: 4rem;
}

header .content h1 span {
    color: transparent;
    -webkit-text-stroke: 1px #a788f7;
}

header .content h3 {
    padding-bottom: 0.5rem;
}

header .content h3 span {
    color: #a788f7;
}

/* Button */

header .content .btn {
    padding: 2rem 0rem;
}

header .content .btn button {
    /* Override some default settings */
    padding: 1rem;
    color: #a788f7;
    background-color: #fff;
    border-radius: 2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    transition: all 0.2s ease;
}

header .content button:hover {
    cursor: pointer;
    background-color: #a788f7;
    color: #fff;
}

/* SECTION 3: Skills */

.skills-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2rem; 
    padding: 5rem 5rem;
}

.skills-container img {
    max-width: 100px;
    transition: transform 0.3s ease;
}

.skills-container img:hover {
    transform: scale(1.2);
}

/* SECTION 4: Projects */

#projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
}

#projects .title {
    width: 100%;
    text-align: center;
    padding: 4rem 2rem;
    font-size: 2rem;
    background-image: linear-gradient(to right, #a788f7, rgb(66, 64, 241));
}

#projects .card {
    display: flex;
    max-width: 75%;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: box-shadow 0.5s ease;
}

#projects .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    cursor: pointer;
}

#projects .card img {
    max-width: 50%;
    border-radius: 20px 0px 0px 20px;
}

#projects .card .container {
    padding: 2rem;
    background-color: white;
    color: #12182b;
    border-radius: 0px 20px 20px 0px;
}

/* LAST SECTION: Footer */

footer {
    padding-top: 2rem;
    padding-bottom: 0.5rem;
}

footer .links {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

footer img {
    max-width: 3rem;
    height: 100%;
}

footer img:hover {
    cursor: pointer;
}

footer p {
    display: flex;
    justify-content: center;
}

/* CSS filter generator to convert from black to target hex color
 -> https://isotropic.co/tool/hex-color-to-css-filter/ */
footer .footer-logo:hover {
    filter: invert(50%) sepia(69%) saturate(885%) hue-rotate(217deg) brightness(104%) contrast(94%);
}